<section class="p-5 flex flex-col gap-8 md:flex-row max-w-[1200px] w-full place-content-center m-auto mayali-container items-center">
  <section class="hidden md:flex flex-col w-[60%] items-center">
    <img class="max-w-[500px]" src="/assets/images/portada.png" alt="portada">
    <section class="flex flex-row gap-3 items-center">
      <p class="fs-16">Distribuidora exclusiva de</p>
      <img class="max-w-[150px]" src="/assets/images/alicorp.png" alt="alicorp">
    </section>
  </section>
  <section class="flex flex-col md:w-[40%] w-full md:items-start items-center">
    <form [formGroup]="loginForm" class="flex flex-col w-full max-w-[394px]">
      <h1 class="fh1 mb-3">¡Hola de nuevo!</h1>
      <section class="flex flex-col gap-2 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="email" placeholder="Ingresa tu correo electrónico">
          <mat-error *ngIf="loginForm.get('email').invalid">
            {{ loginForm.get("email").errors | controlErrorHandler }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" placeholder="Ingresa tu contraseña">
          <mat-error *ngIf="loginForm.get('password').invalid">
            {{ loginForm.get("password").errors | controlErrorHandler }}
          </mat-error>
        </mat-form-field>
      </section>
      <button mat-flat-button color="accent" class="form-btn" [disabled]="loginForm.invalid">Iniciar sesión</button>
      <section class="mt-4">
        <p class="text-[var(--cetacean-50)] fs14 text-center">¿Aún no tienes una cuenta? <a routerLink="/register" class="cursor-pointer text-[var(--skyblue)] fs-14">Regístrate</a></p>
      </section>
    </form>
  </section>
</section>