<!-- <section class="p-5 flex flex-col gap-8 md:flex-row max-w-[1200px] place-content-center">
  <section class="hidden md:flex flex-col">
    <img class="max-w-[500px]" src="assets/images/portada.png" alt="portada">
    <section class="flex flex-row gap-3 items-center">
      <p class="fs-16">Distribuidora exclusiva de</p>
      <img class="max-w-[150px]" src="assets/images/alicorp.png" alt="alicorp">
    </section>
  </section>
  <section class="flex flex-col">
    <form *ngIf="stepOne; else secondStep" class="flex flex-col w-full max-w-[394px]">
      <section class="flex flex-col mb-3">
        <p class="fs-14 text-[var(--cetacean-50)]">Paso 1 de 2</p>
        <h1 class="fh1">Empieza tu registro</h1>
      </section>
      <mat-form-field appearance="outline">
        <mat-label>RUC de la empresa</mat-label>
        <input matInput placeholder="Ej. 10092323232">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="Ingresa tu número de celular">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Ingresa tu número de celular">
      </mat-form-field>
      <mat-checkbox class="mb-2">Autorizo recibir comunicaciones promocionales.</mat-checkbox>
      <mat-checkbox class="mb-2">He leído y acepto los Términos y condiciones y Políticas de privacidad de DexMayali.</mat-checkbox>
      <button mat-flat-button color="accent" class="form-btn mt-5">Siguiente</button>
      <section class="mt-4">
        <p class="text-[var(--cetacean-50)] fs14 text-center">Ya tienes una cuenta <a routerLink="/login" class="cursor-pointer text-[var(--skyblue)] fs-14">Iniciar sesión</a></p>
      </section>
    </form>
    <ng-template #secondStep>
      <form class="flex flex-col w-full max-w-[394px]">
        <p class="fs-14 text-[var(--cetacean-50)]">Paso 2 de 2</p>
        <h1 class="fh2">Datos de contacto</h1>
        <section class="flex flex-row gap-3">
          <mat-form-field appearance="outline">
            <mat-label>Tipo de doc.</mat-label>
            <mat-select>
              <mat-option value="option">DNI</mat-option>
              <mat-option value="option">CE</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>N° de documento</mat-label>
            <input matInput placeholder="Ingresa tu número de documento">
          </mat-form-field>
        </section>
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput placeholder="Ingresa tus nombres">
        </mat-form-field>
        <section class="flex flex-row gap-3">
          <mat-form-field appearance="outline">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput placeholder="Ingresa tu apellido paterno">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Apellido Materno</mat-label>
          <input matInput placeholder="Ingresa tu apellido materno">
        </mat-form-field>
        </section>
        <mat-form-field appearance="outline">
          <mat-label>N° de celular</mat-label>
          <input matInput placeholder="Ingresa tu número de celular">
        </mat-form-field>
        <button mat-flat-button color="accent" class="form-btn">Crear cuenta</button>
      </form>
    </ng-template>
  </section>
</section> -->

<section class="p-5 flex flex-col gap-8 md:flex-row max-w-[1200px] place-content-center">
  <section class="hidden md:flex flex-col">
    <img class="max-w-[500px]" src="assets/images/portada.png" alt="portada">
    <section class="flex flex-row gap-3 items-center">
      <p class="fs-16">Distribuidora exclusiva de</p>
      <img class="max-w-[150px]" src="assets/images/alicorp.png" alt="alicorp">
    </section>
  </section>
  <section class="flex flex-col">
    <form *ngIf="stepOne; else secondStep" [formGroup]="stepOneForm" (ngSubmit)="nextStep()" class="flex flex-col w-full max-w-[394px]">
      <section class="flex flex-col mb-3">
        <p class="fs-14 text-[var(--cetacean-50)]">Paso 1 de 2</p>
        <h1 class="fh1">Empieza tu registro</h1>
      </section>
      <mat-form-field appearance="outline">
        <mat-label>RUC de la empresa</mat-label>
        <input matInput formControlName="ruc" placeholder="Ej. 10092323232">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" placeholder="Ingresa tu correo electrónico">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Ingresa tu contraseña">
      </mat-form-field>
      <mat-checkbox class="mb-2" formControlName="promo">Autorizo recibir comunicaciones promocionales.</mat-checkbox>
      <mat-checkbox class="mb-2" formControlName="terms">He leído y acepto los Términos y condiciones y Políticas de privacidad de DexMayali.</mat-checkbox>
      <button mat-flat-button color="accent" class="form-btn mt-5" type="submit">Siguiente</button>
      <section class="mt-4">
        <p class="text-[var(--cetacean-50)] fs14 text-center">Ya tienes una cuenta <a routerLink="/login" class="cursor-pointer text-[var(--skyblue)] fs-14">Iniciar sesión</a></p>
      </section>
    </form>
    <ng-template #secondStep>
      <form [formGroup]="stepTwoForm" (ngSubmit)="onSignUp()" class="flex flex-col w-full max-w-[394px]">
        <p class="fs-14 text-[var(--cetacean-50)]">Paso 2 de 2</p>
        <h1 class="fh2">Datos de contacto</h1>
        <section class="flex flex-row gap-3">
          <mat-form-field appearance="outline">
            <mat-label>Tipo de doc.</mat-label>
            <mat-select formControlName="docType">
              <mat-option value="DNI">DNI</mat-option>
              <mat-option value="CE">CE</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>N° de documento</mat-label>
            <input matInput formControlName="docNumber" placeholder="Ingresa tu número de documento">
          </mat-form-field>
        </section>
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="firstName" placeholder="Ingresa tus nombres">
        </mat-form-field>
        <section class="flex flex-row gap-3">
          <mat-form-field appearance="outline">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput formControlName="lastName" placeholder="Ingresa tu apellido paterno">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Apellido Materno</mat-label>
            <input matInput formControlName="middleName" placeholder="Ingresa tu apellido materno">
          </mat-form-field>
        </section>
        <mat-form-field appearance="outline">
          <mat-label>N° de celular</mat-label>
          <input matInput formControlName="phone" placeholder="Ingresa tu número de celular">
        </mat-form-field>
        <button mat-flat-button color="accent" class="form-btn" type="submit">Crear cuenta</button>
      </form>
    </ng-template>
  </section>
</section>
