<div class="container mx-auto p-4 max-w-[1200px] m-auto">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb" class="mt-10 md:mt-18 mb-5">
    <ol class="flex flex-wrap text-sm text-gray-700">
      <li class="flex items-center">
        <a routerLink="/" class="hover:text-blue-800">
          Inicio
        </a>
        <span class="mx-2">/</span>
      </li>
      <li class="flex items-center">
        <span class="font-semibold text-gray-800">
          Carrito de compras
        </span>
      </li>
    </ol>
  </nav>

  <section *ngIf="this.cartItems.length <= 0;else otherTemplate">
    <p class="fs16 font-semibold mb-3">
      Al parecer, tu carrito está vacío.
    </p>
    <button mat-flat-button color="accent" class="order-ticket__btn order-ticket__btn-normal" (click)="goTo('/')"> Ir de
      compras</button>
  </section>
  <ng-template #otherTemplate>

    <!-- Carrito de compras para desktop -->
    <div class="items-cart hidden md:block">
      <table class="min-w-full bg-white">
        <thead>
          <tr class="w-full bg-yellow-100 text-left">
            <th class="py-2 px-4">Producto</th>
            <th class="py-2 px-4">Precio</th>
            <th class="py-2 px-4">Cantidad</th>
            <th class="py-2 px-4">Subtotal con IGV</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b" *ngFor="let item of cartItems">
            <td class="py-4 px-6">
              <div class="relative flex items-center group cursor-pointer">
                <img class="w-16 h-16 object-cover mr-4 group-hover:opacity-50" [src]="item.image" alt="{{item.name}}">
                <button (click)="removeItem(item)"
                  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden group-hover:block bg-red-500 text-white p-2 rounded-full">
                  <mat-icon>close</mat-icon>
                </button>
                <div>
                  <h4 class="font-semibold">{{item.name}}</h4>
                </div>
              </div>
            </td>
            <td class="py-4 px-6">S/ {{item.price}}</td>
            <td class="py-4 px-6">
              <input type="number" class="border p-2 w-16" [(ngModel)]="item.quantity"
                (ngModelChange)="updateCartService()" inputmode="numeric">
            </td>
            <td class="py-4 px-6">S/ {{item.price * item.quantity}}</td>
          </tr>
        </tbody>
      </table>
      <div class="mt-4">
        <button mat-stroked-button color="accent" class="order-ticket__btn order-ticket__btn-border"
          (click)="clearCart()">Vaciar
          carrito</button>
      </div>
    </div>
    <!-- Carrito de compras para mobile -->
    <div class="block md:hidden items-cart">
      <div *ngFor="let item of cartItems; let i = index">
        <div class="flex items-center border-b py-4 relative">
          <input type="checkbox" class="absolute top-0 left-0 m-4" (change)="toggleSelection(i, $event)">
          <img class="w-16 h-16 object-cover mr-4" [src]="item.image" alt="{{item.name}}">
          <div class="flex flex-col flex-grow">
            <h4 class="font-semibold">{{item.name}}</h4>
            <p>S/ {{item.price}}</p>
            <div class="flex items-center mt-2">
              <button class="bg-gray-200 p-1 rounded" (click)="decreaseQuantity(item)">-</button>
              <input type="number" class="border p-2 w-16 mx-2" [(ngModel)]="item.quantity"
                (ngModelChange)="updateCartService()">
              <button class="bg-gray-200 p-1 rounded" (click)="increaseQuantity(item)">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 flex justify-between">
        <button class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600" (click)="clearCart()">Vaciar
          carrito</button>
        <button class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400" (click)="removeSelected()">Borrar
          seleccionados</button>
      </div>
    </div>

    <section class="max-w-[1200px] md:mx-auto md:flex md:place-content-end">
      <div class="max-w-md bg-white shadow-md rounded-lg p-4 mx-4 order-ticket mt-10">
        <h2 class="text-xl font-bold mb-4">Orden de compra</h2>
        <div class="flex justify-between mb-2">
          <span>Subtotal sin IGV:</span>
          <span>S/ {{this.subtotal | number:'1.2-2'}}</span>
        </div>
        <div class="flex justify-between mb-2">
          <span>IGV:</span>
          <span>S/ {{this.igv| number:'1.2-2'}}</span>
        </div>
        <div class="flex justify-between mb-2">
          <span>Costo de envío:</span>
          <span>Gratis</span>
        </div>
        <div class="flex justify-between border-t-2 pt-2 font-bold">
          <span>Total:</span>
          <span>S/ {{this.total| number:'1.2-2'}}</span>
        </div>
        <div class="mt-4 flex justify-between md:flex-row flex-col gap-3">
          <button mat-stroked-button color="accent" class="order-ticket__btn order-ticket__btn-border"
            (click)="orderPreview()">Vista previa</button>
          <button mat-flat-button color="accent" class="order-ticket__btn order-ticket__btn-normal"
            (click)="generateOC()">Crear orden de
            compra</button>
        </div>
      </div>

    </section>
  </ng-template>