.group:hover .group-hover\:opacity-50 {
  opacity: 0.5;
}

.group:hover .group-hover\:block {
  display: block;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  font-size: 15px;
  display: flex;
  align-items: center;
  place-content: center;
  padding: 0px;
  mat-icon{
    width: 20px;
  height: 20px;
  font-size: 18px;
  }
}

.order-ticket {
  &__btn{
    height: 56px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 12px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
    &-border{
      border-color: var(--orange);
    }
  }

}
