<div class="p-5">
  <h1>Products</h1>
  

  <section class="container">
    <section class="product-card" *ngFor="let product of products">
      <img class="product-card__img" [src]="product.img" alt="">
      <section class="product-card__description">
        <h2 class="product-card__name">{{ product.name }}</h2>
        <p class="product-card__price">{{ product.price }}</p>
        <button class="product-card__add-btn" (click)="addToCart(product)">Add to Cart</button>
      </section>

      <!-- <section class="product-card__change-btn"></section> -->
    </section>
  </section>

</div>
