@import "src/custom-theme.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body,
* {
  font-family: "Montserrat", sans-serif;
}

.mdc-notched-outline__notch {
  border-right: none !important;
}

:root {
  --orange: #f27822;
  --cetacean: #000f49;
  --white: #fcfcfd;
  --gray: #e4e7ec;
  --red: #f24322;
  --yellow: #f2af22;
  --skyblue: #22a9f2;
  --green: #5cf222;
  --cetacean-50: #000F4980;

}

.fh1 {
  font-size: 30px;
  letter-spacing: -1%;
  font-weight: 700;
  @media (min-width: 768px) {
    font-size: 35px;
  }
}

.fh2 {
  font-size: 20px;
  font-weight: 700;
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.fh3 {
  font-size: 24px;
  letter-spacing: -1%;
  font-weight: 700;
}

.fh4 {
  font-size: 20px;
  letter-spacing: -1%;
  font-weight: 700;
}

.fs16 {
  font-size: 16px !important;
  letter-spacing: -1%;
}

.fs14 {
  font-size: 14px !important;
  letter-spacing: -1%;
}

.fs12 {
  font-size: 12px !important;
  letter-spacing: -1%;
}

.mr-0 {
  margin-right: 0 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.form-btn {
  height: 56px !important;
  width: 100%;
  max-width: 394px !important;
  border-radius: 10px !important;
  font-weight: 700 !important;
}

mat-error {
  font-size: 10px;
}

.mayali-container{
  min-height: calc(100dvh - 90px) !important;
  @media (min-width: 768px) {
    min-height: calc(100dvh - 120px) !important;
  }
}